.container {
    max-width: 1080px;
    height: 100vh;
    margin: auto;
  }
  #container-image {
    height: 100vh;
    width: 100vw;
    background-image: 
    url("../public/cityDay.jpg");
    background-position: relative;  
    background-size: cover;
    background-repeat: no-repeat;
}

.container-search {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  width: 100%;
}