.container {
    max-width: 1080px;
    margin: auto;
  }
  #container-imagem {
    height: 100vh;
    width: 100vw;
    background-image: 
    url("../public/cityDay.jpg");
    background-position: relative;  
    background-size: cover;
    background-repeat: no-repeat;
}